<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725728703472-kangtnbc52ulfq94j1ot7bkk34acdghe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725728703472-kangtnbc52ulfq94j1ot7bkk34acdghe</string>
	<key>API_KEY</key>
	<string>AIzaSyADblgqsP9Igiymm5cyTLTynSfYyZKzDaM</string>
	<key>GCM_SENDER_ID</key>
	<string>725728703472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onestore</string>
	<key>PROJECT_ID</key>
	<string>onestore-61b1f</string>
	<key>STORAGE_BUCKET</key>
	<string>onestore-61b1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725728703472:ios:f1f8150baf7b9c46e96335</string>
</dict>
</plist>